<!-- MVP.css quickstart template: https://github.com/andybrewer/mvp/ -->

<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="https://via.placeholder.com/70x70">
    <title>Profileer</title>
    <meta charset="utf-8">
    <meta name="description" content="Profileer to check phone number">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'main' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
